body{
    margin: 0;
}
.container{
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(73, 61, 107, 1) 43%, rgba(114, 182, 158, 1) 100%);
    display: flex;
    justify-content: space-around;
    gap: 50px;
    min-height: 100vh;
}
.box{
    background-color: rgb(255, 255, 255, 0.5);
    width: 360px;
    height: 600px;
    align-items: center;
    margin: auto;
    border-radius: 40% / 10%;
}
.pfp img[src="./rescources/pfp.jpeg"] {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    clip-path: circle();
    display: block;
    margin: auto;
}
.github{
    display: flex;
    align-items: center;
    margin-left: 60px;
    background-color: white;
    width: 240px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10% / 30%;
}
.github img[src="./rescources/githublogo.png"] {
    width: 216px;
    height: 54px;
    margin-left: 0px;
}
.github a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 54px;
    text-align: center;
    font-size: 42px;
    line-height: 100px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.linkedin{
    display: flex;
    align-items: center;
    margin-left: 60px;
    background-color: #1e2022;
    width: 240px;
    height: 60px;
    border-radius: 10% / 30%;
}
.linkedin img[src="./rescources/linkedinlogo.png"] {
    width: 216px;
    height: 54px;
    margin-left: 0px;
}
.linkedin a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 54px;
}
.myname{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 240px;
    height: 60px;
}
.myname p{
    font-size: 36px;
    margin-top: 100px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.mymail{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-left: 52px;
    width: 240px;
    height: 60px;
}
.mymail p{
    font-size: 26px;
    margin-bottom: 40px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}